<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>

</head>
<body>
    <h1><%= title %></h1>
    <p>le transfert et ok</p>
    <p><%= nom  %></p>
    <p><%= taille %></p>
    <p><%= type %></p>
    <hr>
    <p><a href="./">uploader un autre fichier</a></p>
</body>
</html>